<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - materials</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="./main.css">
	</head>
	<body>

		<div id="container"></div>
		

		<!-- Import maps polyfill -->
		<!-- Remove this when import maps will be widely supported -->
		<script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "./three.module.js"
				}
			}
		</script>
		<script></script>

		<script type="module">

			/*
			import * as THREE from '/js/three.js-master/build/three.js';

			import Stats from './js/three.js-master/examples/jsm/libs/stats.module.js';

			import { OrbitControls } from './js/three.js-master/examples/jsm/controls/OrbitControls.js';
			import { OutlineEffect } from './js/three.js-master/examples/jsm/effects/OutlineEffect.js';
			import { FontLoader } from './js/three.js-master/examples/jsm/loaders/FontLoader.js';
			import { GLTFLoader } from './js/three.js-master/examples/jsm/loaders/GLTFLoader.js';
			import { TextGeometry } from './js/three.js-master/examples/jsm/geometries/TextGeometry.js';
			*/
			
			import * as THREE from 'three';


			import { OrbitControls } from './jsm/controls/OrbitControls.js';
			import { OutlineEffect } from './jsm/effects/OutlineEffect.js';
			import { FontLoader } from './jsm/loaders/FontLoader.js';
			import { GLTFLoader } from './jsm/loaders/GLTFLoader.js';
			import { TextGeometry } from './jsm/geometries/TextGeometry.js';
			
			var render_mode = <%- JSON.stringify(render_mode) %>

			var camera_distance = <%- JSON.stringify(camera_distance) %>
			var camera_pitch = <%- JSON.stringify(camera_pitch) %>
			var camera_roll = <%- JSON.stringify(camera_roll) %>

			var light_distance = <%- JSON.stringify(light_distance) %>
			var light_pitch = <%- JSON.stringify(light_pitch) %>
			var light_roll = <%- JSON.stringify(light_roll) %>

			var beak_model = <%- JSON.stringify(beak_model) %>
			var beak_color = <%- JSON.stringify(beak_color) %>

			var foot_model = <%- JSON.stringify(foot_model) %>

			var eye_model = <%- JSON.stringify(eye_model) %>

			var tail_model = <%- JSON.stringify(tail_model) %>
			var tail_color = <%- JSON.stringify(tail_color) %>

			var wing_model = <%- JSON.stringify(wing_model) %>
			var wing_color = <%- JSON.stringify(wing_color) %>

			var bg_objects = <%- JSON.stringify(bg_objects) %>

			var bg_radius = <%- JSON.stringify(bg_radius) %>
			var bg_pitch = <%- JSON.stringify(bg_pitch) %>
			var bg_roll = <%- JSON.stringify(bg_roll) %>

			var bg_scale_x = <%- JSON.stringify(bg_scale_x) %>
			var bg_scale_y = <%- JSON.stringify(bg_scale_y) %>
			var bg_scale_z = <%- JSON.stringify(bg_scale_z) %>

			var bg_rot_x = <%- JSON.stringify(bg_rot_x) %>
			var bg_rot_y = <%- JSON.stringify(bg_rot_y) %>
			var bg_rot_z = <%- JSON.stringify(bg_rot_z) %>

			var bg_color = <%- JSON.stringify(bg_color) %>


			bg_objects = bg_objects.split(',');
			bg_objects = bg_objects.map(str => {
				return Number(str);
			});

			bg_radius = bg_radius.split(',');
			bg_radius = bg_radius.map(str => {
				return Number(str);
			});
			bg_pitch = bg_pitch.split(',');
			bg_pitch = bg_pitch.map(str => {
				return Number(str);
			});
			bg_roll = bg_roll.split(',');
			bg_roll = bg_roll.map(str => {
				return Number(str);
			});

			bg_scale_x = bg_scale_x.split(',');
			bg_scale_x = bg_scale_x.map(str => {
				return Number(str);
			});
			bg_scale_y = bg_scale_y.split(',');
			bg_scale_y = bg_scale_y.map(str => {
				return Number(str);
			});
			bg_scale_z = bg_scale_z.split(',');
			bg_scale_z = bg_scale_z.map(str => {
				return Number(str);
			});

			bg_rot_x = bg_rot_x.split(',');
			bg_rot_x = bg_rot_x.map(str => {
				return Number(str);
			});
			bg_rot_y = bg_rot_y.split(',');
			bg_rot_y = bg_rot_y.map(str => {
				return Number(str);
			});
			bg_rot_z = bg_rot_z.split(',');
			bg_rot_z = bg_rot_z.map(str => {
				return Number(str);
			});

			bg_color = bg_color.split(',');
			


			let container;

			let camera, scene, renderer, effect;
			let particleLight;

			const loader = new FontLoader();
			loader.load( 'fonts/gentilis_regular.typeface.json', function ( font ) {

				init( font );
				animate();

			} );

			function init( font ) {

				container = document.createElement( 'div' );
				//container.style.margin = "100px";
				//container.style.padding = "100px";
				//container.style.background = "red";
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 2500 );
				
				
				
				var pitch=camera_pitch
				var roll=camera_roll
				var yaw=0

				var points = [{x:0,y:0,z:camera_distance}]

				var cosa = Math.cos(yaw);
				var sina = Math.sin(yaw);

				var cosb = Math.cos(pitch);
				var sinb = Math.sin(pitch);

				var cosc = Math.cos(roll);
				var sinc = Math.sin(roll);

				var Axx = cosa*cosb;
				var Axy = cosa*sinb*sinc - sina*cosc;
				var Axz = cosa*sinb*cosc + sina*sinc;

				var Ayx = sina*cosb;
				var Ayy = sina*sinb*sinc + cosa*cosc;
				var Ayz = sina*sinb*cosc - cosa*sinc;

				var Azx = -sinb;
				var Azy = cosb*sinc;
				var Azz = cosb*cosc;

				for (var i = 0; i < points.length; i++) {
					var px = points[i].x;
					var py = points[i].y;
					var pz = points[i].z;

					points[i].x = Axx*px + Axy*py + Axz*pz;
					points[i].y = Ayx*px + Ayy*py + Ayz*pz;
					points[i].z = Azx*px + Azy*py + Azz*pz;
				}

				camera.position.set( points[0].x, points[0].y, camera_distance );

				// rotate

				// rotate y axis
				//camera.position.x = Math.cos(camera_y_angle)*camera_distance;
				//camera.position.z = Math.sin(camera_y_angle)*camera_distance;


				camera.lookAt(new THREE.Vector3(0, 0, 0));



				//

				scene = new THREE.Scene();

				if (render_mode == 'default') {
					scene.background = new THREE.Color( 0x555599 )
				} else if (render_mode == 'part_map') {
					scene.background = new THREE.Color( 0x000000 ).convertSRGBToLinear();
				}
				//

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				container.appendChild( renderer.domElement );
				renderer.outputEncoding = THREE.sRGBEncoding;



				// Materials

				const format = ( renderer.capabilities.isWebGL2 ) ? THREE.RedFormat : THREE.LuminanceFormat;

				const colors = new Uint8Array( 1 + 2 );
				for ( let c = 0; c <= 5; c ++ ) {
					colors[ c ] = ( c / 5 ) * 256;
				}

				const gradientMap = new THREE.DataTexture( colors, colors.length, 1, format );
				gradientMap.needsUpdate = true;


				var loader = new GLTFLoader();
				var base;
				loader.load( 'data/XAI/bird01.glb', function ( gltf ) {

					base = gltf.scene//.children[ 0 ];

					// basic monochromatic energy preservation
					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0xaaaaaa );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xaaaaaa ).convertSRGBToLinear();
					}

					const material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					base.traverse((o) => {
					  if (o.isMesh) o.material = material;
					});

					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					
					//flamingo.position.set(2,-1.1,1.4);
					var s = 20;
					base.scale.set( s, s, s );
					scene.add( base );

				} );

				// beak
				var part01;
				loader.load( 'data/XAI/beak/' + beak_model, function ( gltf ) {

					part01 = gltf.scene;

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( beak_color );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xffff00 ).convertSRGBToLinear();
					}

					const material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part01.traverse((o) => {
					  if (o.isMesh) o.material = material;
					});

					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					part01.rotation.y = + 3.14;
					var s = 8;
					part01.scale.set( s, s, s );
					scene.add( part01 );

					part01.position.set(0,35,60);

					console.log(part01)

					/*
					console.log(part01)
					var guiControls = new function() {
						this.color = part01.children[2].material.color;
					};
					gui.addColor(guiControls, "color").listen().onChange(function(e) {
						selected.material.color.setStyle(e);
					});
					*/

					

				} );



				// feet01
				var part02;
				loader.load( 'data/XAI/foot/' + foot_model, function ( gltf ) {

					part02 = gltf.scene//.children[ 0 ];

					// basic monochromatic energy preservation
					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0xffff00 );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xff0001 ).convertSRGBToLinear();
					}

					const material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part02.traverse((o) => {
					  if (o.isMesh) o.material = material;
					});

					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					part02.rotation.y = + 3.14;
					part02.rotation.z = + 0.01;
					var s = 8;
					part02.scale.set( s, s, s );
					scene.add( part02 );

					part02.position.set(-15,-10,0);


				} );

				// feet02
				var part03;
				loader.load( 'data/XAI/foot/' + foot_model, function ( gltf ) {

					part03 = gltf.scene//.children[ 0 ];

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0xffff00 );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xff0002 ).convertSRGBToLinear();
					}

					const material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part03.traverse((o) => {
					  if (o.isMesh) o.material = material;
					});

					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					part03.rotation.y = + 3.14;
					part03.rotation.z = - 0.01;
					var s = 8;
					part03.scale.set( s, s, s );
					scene.add( part03 );

					part03.position.set(+15,-10,0);


				} );





				// eye01
				var part04;
				loader.load( 'data/XAI/eye/' + eye_model, function ( gltf ) {

					part04 = gltf.scene//.children[ 0 ];

					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0xffffff );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xfffffd ).convertSRGBToLinear();
					}

					var material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part04.traverse((o) => {
						if (o.isMesh) o.material = material;
						
					});

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0x000000 );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xfffffd ).convertSRGBToLinear();
					}

					material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part04.traverse((o) => {
						if (o.isMesh && o.name == 'Sphere001') o.material = material;
						
					});

					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					part04.rotation.y = + 0;
					part04.rotation.y = - 0.2;
					var s = 5;
					part04.scale.set( s, s, s );
					scene.add( part04 );

					part04.position.set(-10,45,50);


				} );


				// eye02
				var part05;
				loader.load( 'data/XAI/eye/' + eye_model, function ( gltf ) {

					part05 = gltf.scene//.children[ 0 ];

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0xffffff );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xfffffe ).convertSRGBToLinear();
					}
					var material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part05.traverse((o) => {
						if (o.isMesh) o.material = material;
						
					});


					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( 0x000000 );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0xfffffe ).convertSRGBToLinear();
					}

					material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part05.traverse((o) => {
						if (o.isMesh && o.name == 'Sphere001') o.material = material;
						
					});


					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					part05.rotation.y = + 0;
					part05.rotation.y = + 0.2;
					var s = 5;
					part05.scale.set( s, s, s );
					scene.add( part05 );

					part05.position.set(+10,45,50);


				} );


				// tail
				var part06;
				loader.load( 'data/XAI/tail/' + tail_model, function ( gltf ) {

					part06 = gltf.scene//.children[ 0 ];

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( tail_color );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0x0000ff ).convertSRGBToLinear();
					}

					var material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part06.traverse((o) => {
						if (o.isMesh) o.material = material;
						
					});


					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					//part06.rotation.y = + 0;
					//part06.rotation.y = + 0.2;
					var s = 15;
					part06.scale.set( s, s, s );
					scene.add( part06 );

					part06.position.set(0,-2,-47);


				} );


				// wing01
				var part07;
				loader.load( 'data/XAI/wing/' + wing_model, function ( gltf ) {

					part07 = gltf.scene//.children[ 0 ];

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( wing_color );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0x00ff01 ).convertSRGBToLinear();
					}

					var material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part07.traverse((o) => {
						if (o.isMesh) o.material = material;
						
					});


					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					//part06.rotation.y = + 0;
					//part06.rotation.y = + 0.2;
					var s = 35;
					part07.scale.set( s, -s, s );
					
					scene.add( part07 );
					part07.rotation.x = - 0.3;
					part07.position.set(-20,5,10);


				} );

				// wing01
				var part08;
				loader.load( 'data/XAI/wing/' + wing_model, function ( gltf ) {

					part08 = gltf.scene//.children[ 0 ];

					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( wing_color );
					} else if (render_mode == 'part_map') {
						diffuseColor = new THREE.Color( 0x00ff02 ).convertSRGBToLinear();
					}

					var material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );
					part08.traverse((o) => {
						if (o.isMesh) o.material = material;
						
					});


					//var newMaterial = new THREE.MeshStandardMaterial({color: 0xff0000});
					//flamingo.traverse((o) => {
					//  if (o.isMesh) o.material = newMaterial;
					//});
					//part06.rotation.y = + 0;
					//part06.rotation.y = + 0.2;
					var s = 35;
					part08.scale.set( -s, -s, s );
					
					scene.add( part08 );
					part08.rotation.x = - 0.3;
					part08.position.set(+20,5,10);


				} );


				// background objects
				for (var i = 0; i < bg_objects.length; i++) {
					var part_bg;
					var bg_object = bg_objects[i]
					console.log(bg_object)
					var geometry;
					if (bg_object == 0) {
						geometry = new THREE.BoxGeometry( bg_scale_x[i], bg_scale_y[i], bg_scale_z[i] );
					} else if (bg_object == 1) {
						geometry = new THREE.ConeGeometry( bg_scale_x[i], bg_scale_y[i], bg_scale_z[i] );
					} else if (bg_object == 2) {
						geometry = new THREE.SphereGeometry( bg_scale_x[i], bg_scale_y[i], bg_scale_z[i] );
					} else if (bg_object == 3) {
						geometry = new THREE.CylinderGeometry( bg_scale_x[i], bg_scale_y[i], bg_scale_z[i] );
					} else if (bg_object == 4) {
						geometry = new THREE.CapsuleGeometry( bg_scale_x[i], bg_scale_y[i], bg_scale_z[i] );
					}
					var diffuseColor;
					// basic monochromatic energy preservation
					if (render_mode == 'default') {
						diffuseColor = new THREE.Color( bg_color[i] );
					} else if (render_mode == 'part_map') {
						//color_string = "rgb(255, 0, " + i.toString() + ")"
						
						diffuseColor = new THREE.Color( 0xcccccc + i ).convertSRGBToLinear();
					}
					var material = new THREE.MeshToonMaterial( {
						color: diffuseColor,
						gradientMap: gradientMap
					} );

					var bg_geometry = new THREE.Mesh( geometry, material );

					scene.add(bg_geometry)

					var pitch=bg_pitch[i]
					var roll=bg_roll[i]
					var yaw=0

					var points = [{x:0,y:0,z:bg_radius[i]}]

					var cosa = Math.cos(yaw);
					var sina = Math.sin(yaw);

					var cosb = Math.cos(pitch);
					var sinb = Math.sin(pitch);

					var cosc = Math.cos(roll);
					var sinc = Math.sin(roll);

					var Axx = cosa*cosb;
					var Axy = cosa*sinb*sinc - sina*cosc;
					var Axz = cosa*sinb*cosc + sina*sinc;

					var Ayx = sina*cosb;
					var Ayy = sina*sinb*sinc + cosa*cosc;
					var Ayz = sina*sinb*cosc - cosa*sinc;

					var Azx = -sinb;
					var Azy = cosb*sinc;
					var Azz = cosb*cosc;

					for (var j = 0; j < points.length; j++) {
						var px = points[j].x;
						var py = points[j].y;
						var pz = points[j].z;

						points[j].x = Axx*px + Axy*py + Axz*pz;
						points[j].y = Ayx*px + Ayy*py + Ayz*pz;
						points[j].z = Azx*px + Azy*py + Azz*pz;
					}

					bg_geometry.position.set(points[0].x,points[0].y,points[0].z);

					bg_geometry.rotation.x = bg_rot_x[i];
					bg_geometry.rotation.y = bg_rot_y[i];
					bg_geometry.rotation.z = bg_rot_z[i];
				}

				



				particleLight = new THREE.Mesh(
					//new THREE.SphereGeometry( 4, 8, 8 ),
					//new THREE.MeshBasicMaterial( { color: 0xffffff } )
				);
				scene.add( particleLight );

				// Lights

				if (render_mode == 'default') {
					scene.add( new THREE.AmbientLight( 0x888888 ) );
				} else if (render_mode == 'part_map') {
					scene.add( new THREE.AmbientLight( 0xffffff ) );
				}
				
				if (render_mode == 'default') {
					var pointLight = new THREE.PointLight( 0xffffff, 4, 800 );
					particleLight.add( pointLight );
				}

				var pitch=light_pitch
				var roll=light_roll
				var yaw=0

				var points = [{x:0,y:0,z:camera_distance}]

				var cosa = Math.cos(yaw);
				var sina = Math.sin(yaw);

				var cosb = Math.cos(pitch);
				var sinb = Math.sin(pitch);

				var cosc = Math.cos(roll);
				var sinc = Math.sin(roll);

				var Axx = cosa*cosb;
				var Axy = cosa*sinb*sinc - sina*cosc;
				var Axz = cosa*sinb*cosc + sina*sinc;

				var Ayx = sina*cosb;
				var Ayy = sina*sinb*sinc + cosa*cosc;
				var Ayz = sina*sinb*cosc - cosa*sinc;

				var Azx = -sinb;
				var Azy = cosb*sinc;
				var Azz = cosb*cosc;

				for (var i = 0; i < points.length; i++) {
					var px = points[i].x;
					var py = points[i].y;
					var pz = points[i].z;

					points[i].x = Axx*px + Axy*py + Axz*pz;
					points[i].y = Ayx*px + Ayy*py + Ayz*pz;
					points[i].z = Azx*px + Azy*py + Azz*pz;
				}

				//particleLight.position.set( points[0].x, points[0].y, camera_distance );

				particleLight.position.x = points[0].x;
				particleLight.position.y = points[0].y;
				particleLight.position.z = points[0].z;



				//

				if (render_mode == 'default') {
					effect = new OutlineEffect( renderer );
				}
				

				//

				

				const controls = new OrbitControls( camera, renderer.domElement );
				controls.minDistance = 200;
				controls.maxDistance = 2000;

				window.addEventListener( 'resize', onWindowResize );


				
				

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			//

			function animate() {

				requestAnimationFrame( animate );

				render();

			}

			function render() {

				const timer = Date.now() * 0.00025;

				//particleLight.position.x = Math.sin( timer * 7 ) * 300;
				//particleLight.position.y = Math.cos( timer * 5 ) * 400;
				//particleLight.position.z = Math.cos( timer * 3 ) * 300;

				if (render_mode == 'default') {
					effect.render( scene, camera );
				} else if (render_mode == 'part_map') {
					renderer.render( scene, camera );
				}
				

			}




		</script>

	</body>
</html>